/* fonts */

h1, .h1 {
    font-size: 300px;
    font-family: 'Six Caps', sans-serif;
    letter-spacing: 8.5px;
    color: white;
}




/* Breweries page */

.page-headers{
    text-align: center;
    font-size: 300%;
    letter-spacing: 18px;
    font-family: 'Six Caps', sans-serif;
  }
  
 
.brewery-card{
    margin: 30px auto;
  }
  

.card-img-top {
        width: 100%;
        height: 16vw;
        object-fit: cover;
    }

.card-text{
    font-size: medium;
}

.card-deck{
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-body{
  text-align: center;
}

#map{
  height: 700px;
  width: 80%;
  margin: 100px auto;

}

/* -- Reviews page --*/

.user-beer-reviews{
  text-align: center;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 1.5px;
  
}

.user-review-card{
  border-color: black;
  background-image: url(/static/assets/img/beerbubbles.jpg); opacity: 0.9;
  border-radius: 10%;
}

.form-borders{
  padding: 10px;
}

.rate{
  text-align: center;
}

.review-button{
  text-align: center;
  margin: 10px auto;
}

/* -- sGoogle Map --*/

div #map {min-height: 360px;}

/* -- shimmer effect src = webdevtrick --*/

.shimmer {
  font-weight: 500;
  font-size: 6em;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0;
}
.shimmer {
  letter-spacing: 18px;
  text-transform: capitalize;
  font-family: 'Six Caps', sans-serif;
  color: rgba(238, 243, 234, 0.911);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

/* -- star rating system src = codepen.io --*/

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
