{% extends "base.html" %}
{% block content %}
    <h2 class="page-headers">{{ page_title }}</h2>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="beer_name" name="beer_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="beer_name">Beer Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="beer_review" name="beer_review" minlength="50"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="beer_review">Review</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="beer_style" name="beer_style" type="text" class="datepicker validate" required>
                    <label for="beer_style">Beer Style</label>
                </div>
            </div>
			
        </form>
    </div>

{% endblock %}


  
