{% extends "base.html" %}
{% block content %}

 

    <h2 class="page-headers">{{ page_title }}</h2>

    {% for brewery in breweries %}

      
          <div class="col-md-3">
              <div class="card brewery-card" style="width: 18rem;">
                  <img class="card-img-top" src="{{ brewery.image_source }}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{ brewery.name }}</h5>
                    <p class="card-text">{{ brewery.description }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
      </div>

    {% endfor%}





{% endblock %}