{% extends "base.html" %}
{% block content %}

 

    <h2 class="page-headers">{{ page_title }}</h2>

  <div class="card-deck container">
      <div class="row card-row">
        
      {% for brewery in breweries %}

        <div class="col-sm d-flex">
                  <div class="card-deck">
                    <div class="card brewery-card h-100" style="width: 18rem;">
                        <img class="card-img-top" src="{{ brewery.image_source }}" alt="brewery logo">
                          <div class="card-body flex-fill">
                            <h5 class="card-title">{{ brewery.name }}</h5>
                              <p class="card-text">{{ brewery.description }}</p>
                                  <a href="{{ brewery.website }}" target="_blank" class="btn btn-primary visit-brewery">Visit the site</a>
                          </div>
                    </div>
                  </div>  
                
        </div>

      {% endfor %}
    </div>
  </div>


  <div id="map"></div>

  <script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnOAqgjVOHhbsdMF7KT0fDejOvcgxo6Ys&callback=initMap">
</script>


{% endblock %}