{% extends "base.html" %}
{% block content %}
<div class="container landing-page">
    <div class="row">
    
            <div class="col-lg-8 col-md-10 col-sm-10 mx-auto">
                
                <h2 class="post-title welcome-message"><i class="fas fa-beer m-xl-5 m-md-4"></i>Welcome to On The Hop <i class="fas fa-beer m-xl-5 m-md-4"></i></h2>
            


                    <p class="about-us">
                        Discover delicious beers here on On The Hop - a craft beer reviewing site for beer enthusiasts. Register for On The Hop
                        and share your thoughts with fellow beer lovers on your favourite ales, IPA's, Sours and breweries! Ireland now has over 125 micro breweries
                        up and down the country. Keep track of all the latest releases, collaborations and top rated beers right here!
                    </p>
                    
                
                
            </div>
        
    </div>
</div>

        
{% endblock %}
    
