{% extends "base.html" %}
{% block content %}
    

   
<div class="container registraion-page">

  <div class="row login-row">
    <div class="col-sm-4 return-login">
    <form  method="POST" action="{{ url_for('login') }}">
      
            
            <div class="mb-2">
              <!-- Username -->
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="username" minlength="5"
              maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$">
            </div>
            <!-- Password -->
            <div class="mb-2">
              <label for="Password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="password" minlength="5" maxlength="15" name="password" pattern="^[a-zA-Z0-9]{5,15}$" required ">
            </div>
            <!-- Login -->
            
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
        <div class="col-sm-6">
        <br> <h2 class="post-title welcome-message"> Good to see you again! Sign in here<br><i class="fas fa-arrow-left"></i></h2>
          
        </div>

        <div class="container registration">
  <div class="row register-row">
    <div class="col-sm-6">
      <br><h2 class="post-title welcome-message"> New? Sign up here <br><i class="fas fa-arrow-right"></i></h2>
      

    </div>
    <div class="col-sm-4 registration">
          <form  method="POST" action="{{ url_for('register') }}">
            
            <div class="mb-2">
              <!-- Username -->
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="username" minlength="5"
              maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$">
            </div>
            <!-- Password -->
            <div class="mb-2">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="password" minlength="5" maxlength="15" name="password" pattern="^[a-zA-Z0-9]{5,15}$" required ">
            </div>
            <!-- Register -->
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
  </div>
  </div>
  </div>

</div>


{% endblock %}


  
