{% extends "base.html" %}
{% block content %}
    <h2 class="page-headers">{{ page_title }}</h2>

   
  

      <form  method="POST" action="{{ url_for('register') }}">

        <div class="mb-2">
          <!-- Username -->
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="username" minlength="5"
          maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$">
        </div>
        <!-- Password -->
        <div class="mb-2">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="password" minlength="5" maxlength="15" name="password" pattern="^[a-zA-Z0-9]{5,15}$" required ">
        </div>
        <!-- Register -->
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


{% endblock %}


  
