{% extends "base.html" %}
{% block content %}

 

    <h2 class="page-headers">{{ page_title }}</h2>
    {% for review in reviews %}

    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ review.name }}</h5>
          <p class="card-text"> {{ review.review }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ review.style }}</li>
          <li class="list-group-item">{{ review.abv }}</li>
          <li class="list-group-item">{{ review.brewery }}</li>
        </ul>
        
      </div>
      {% endfor %}
</body>
</html>

{% endblock %}