{% extends "base.html" %}
{% block content %}

 

    <h2 class="page-headers">{{ page_title }}</h2>
   
      <div class="row">
        <div class="col-sm-7 beer-flight-div">
          <p>Add your review to the list!</p>
          
         
        </div>
        <div class="col-sm-5">
      <div class="card user-review-card" style="width: 18rem;">
      <form  method="POST" action="{{ url_for('user_reviews') }}" class="user-beer-reviews">
        <!-- Beer Name -->
        <div class="form-group form-borders">
          <label for="beer_name"><b>Beer Name</b></label>
          <input type="text" class="form-control" id="beer_name" name="beer_name" placeholder="Duff Beer..">
        </div>
        <!-- Beer Style -->
        <div class="form-group form-borders">
          <label for="beer_style"><b>Beer Style</b></label>
          <input type="text" class="form-control" id="beer_style" name="beer_style" placeholder="IPA..">
        </div>
       
        <!-- Beer review -->
      <div class="form-group form-borders">
        <label for="beer_review"><b>Add a review</b></label>
        <div class="form-group">
          
          <textarea class="form-control" name="beer_review" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        
        
      </div>
      <div class="rate">
        <input type="radio" id="star5" name="star5" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="star4" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="star3" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="star2" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="star1" value="1" />
        <label for="star1" title="text">1 star</label> 
      </div>
      <br>
      <div class="review-button">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>
<div class="row">
{% for review in reviews %}

<div class="col-sm-3">
<div class="card" style="width: 18rem;">
   
    <div class="card-body">
      <h5 class="card-title beer-name">{{ review.beer_name }}</h5>
      <p class="card-text card-review-text"> {{ review.beer_style }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ review.beer_name }}</li>
      <li class="list-group-item">{{ review.beer_style }}</li>
      <li class="list-group-item">{{ review.beer_review }}</li>
    </ul>
    
  </div>

</div>



  {% endfor %}
</div>
</body>
</html>




{% endblock %}