{% extends "base.html" %}
{% block content %}

    <div class="row search-bar">
      <div class="col-md-8 col-sm-12 col-lg-8">
        <form action="{{ url_for('search') }}" method="POST">
        <div class="input-group">
          <input type="text" name="query" id="query" class="form-control rounded" aria-label="Search"
            aria-describedby="search-addon" />
            
          
          <button type="submit" class="btn btn-outline-primary">Search!</button>
        </form>
        </div>
      </div>

    </div>

    <h2 class="page-headers">{{ page_title }}</h2>
   
      <div class="row">
        <div class="col-sm-7 beer-flight-div">
          <p>Add your review to the list!</p>
          
         
        </div>
        <div class="col-sm-5">
      <div class="card user-review-card" style="width: 18rem;">
      <form  method="POST" action="{{ url_for('user_reviews') }}" class="user-beer-reviews">
        <!-- Beer Name -->
        <div class="form-group form-borders">
          <label for="beer_name"><b>Beer Name</b></label>
          <input type="text" class="form-control" id="beer_name" name="beer_name" placeholder="Duff Beer..">
        </div>
        <!-- Beer Style -->
        <div class="form-group form-borders">
          <label for="beer_style"><b>Beer Style</b></label>
          <input type="text" class="form-control" id="beer_style" name="beer_style" placeholder="IPA..">
        </div>
       
        <!-- Beer review -->
      <div class="form-group form-borders">
        <label for="beer_review"><b>Add a review</b></label>
        <div class="form-group">
          
          <textarea class="form-control" name="beer_review" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        
        
      </div>
    
      <br>
      <div class="review-button">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>
<div class="row">
{% for review in reviews %}

<div class="col-sm-3 beer-reviews">
<div class="card" style="width: 18rem;">
   
    <div class="card-body beer-reviews-style">
      <h5 class="card-title beer-name">{{ review.beer_name }}</h5>
      <p class="card-text card-review-text "> {{ review.beer_style }}</p>
    </div>
    <ul class="list-group list-group-flush beer-reviews-style">
      <li class="list-group-item">{{ review.beer_name }}</li>
      <li class="list-group-item">{{ review.beer_style }}</li>
      <li class="list-group-item">{{ review.beer_review }}</li>
    </ul>
    
  </div>

</div>



  {% endfor %}
</div>
</body>
</html>




{% endblock %}